[submodule "datasets/SIUO"]
	path = datasets/SIUO
	url = https://github.com/sinwang20/SIUO.git
	ignore = untracked
[submodule "datasets/MM-SafetyBench"]
	path = datasets/MM-SafetyBench
	url = https://github.com/isXinLiu/MM-SafetyBench
